@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mr+Dafoe&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "swiper/scss";
@import "swiper/css/effect-creative";

@import "components/mix";
@import "components/alert";
@import "components/badge";
@import "components/button";
@import "components/form";
@import "components/input-group";
@import "components/typography";
@import "components/pagination";
@import "components/progress";
@import "components/table";
@import "components/auth";
@import "components/card";
@import "components/print";
@import "components/app";
@import "utility/calander";
@import "utility/editor";
@import "utility/step-form";
@import "components/chat";
@import "components/email";
@import "components/todo";
@import "components/email";
@import "layout/header";
@import "layout/menu";
@import "layout/sidebar";

.lg-inner-column > .right-column::-webkit-scrollbar {
    display: none;
}

.margin-0 {
    margin-left: 0px !important;
    margin-right: 0 !important;
}
.social-link {
    @apply flex h-8 w-8 flex-col items-center justify-center rounded-full border border-black-500 leading-[1] text-slate-900 transition duration-150 hover:bg-slate-900 hover:text-white dark:border-slate-700 dark:text-slate-300 dark:hover:bg-slate-700;
}

.leading-0 {
    line-height: 0;
}

.icon-lists {
    li {
        margin-right: 12px;
        margin-bottom: 12px;
    }
}

// task list
.completed {
    .img-active {
        @apply opacity-20;
    }
    .bar-active {
        @apply line-through dark:text-white;
    }
}

.legend-ring {
    .apexcharts-legend-series:nth-child(1) .apexcharts-legend-marker {
        @apply ring-4  ring-primary-500 ring-opacity-30 rtl:ml-4;
    }
    .apexcharts-legend-series:nth-child(2) .apexcharts-legend-marker {
        @apply ring-4  ring-info-500 ring-opacity-30 rtl:ml-4;
    }
    .apexcharts-legend-series:nth-child(3) .apexcharts-legend-marker {
        @apply ring-4  ring-warning-500 ring-opacity-30 rtl:ml-4;
    }
}
.legend-ring2 {
    .apexcharts-legend-series:nth-child(1) .apexcharts-legend-marker {
        @apply ring-4  ring-info-500 ring-opacity-30 rtl:ml-4;
    }
    .apexcharts-legend-series:nth-child(2) .apexcharts-legend-marker {
        @apply ring-4  ring-warning-500 ring-opacity-30 rtl:ml-4;
    }
}

.legend-ring3 {
    .apexcharts-legend-series:nth-child(1) .apexcharts-legend-marker {
        @apply ring-4  ring-success-500 ring-opacity-30 rtl:ml-4;
    }
    .apexcharts-legend-series:nth-child(2) .apexcharts-legend-marker {
        @apply ring-4  ring-warning-500 ring-opacity-30 rtl:ml-4;
    }
    .apexcharts-legend-series:nth-child(3) .apexcharts-legend-marker {
        @apply ring-4  ring-secondary-500 ring-opacity-30 rtl:ml-4;
    }
}

.legend-ring4 {
    .apexcharts-legend-series:nth-child(1) .apexcharts-legend-marker {
        @apply ring-4  ring-primary-500 ring-opacity-30 rtl:ml-4;
    }
    .apexcharts-legend-series:nth-child(2) .apexcharts-legend-marker {
        @apply ring-4  ring-warning-500 ring-opacity-30 rtl:ml-4;
    }
}
.dashcode-app {
    .leaflet-control {
        z-index: 0 !important;
    }
    .leaflet-control-container {
        z-index: 555 !important;
        position: relative;
    }
    .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
        z-index: 0 !important;
    }
}

// General Settings Edit Page
.imageUploadCard {
    @apply border border-slate-50 dark:border-slate-700 shadow-sm rounded-md;
    .imageUploadCardHeader {
        @apply border-b border-slate-100 dark:border-slate-700 p-3;
        h3 {
            @apply font-Inter font-semibold text-base lg:text-xl;
        }
    }
    .cardBody {
        @apply p-5 text-center space-y-5;
    }
}

.generalSettings {
    .generalSettingsCardHead {
        @apply flex items-center justify-between bg-slate-100 px-5 py-3;
        .generalSettingsCardTitle {
            @apply text-lg font-semibold font-Inter;
        }
    }
    .settingBox {
        @apply px-4 py-4 border border-slate-100 h-auto overflow-hidden transition-all duration-500;
    }
    .hideContent {
        @apply py-0 h-0;
    }
}

.rotate-icon {
    transform: rotate(180deg);
}

.dataTables_paginate {
    @apply flex justify-center items-center;
    .previous {
        margin-right: 0px !important;
    }
    .first,
    .last {
        @apply top-[2px] relative;
        margin-right: 0px !important;
    }
    span {
        @apply relative flex justify-center items-center space-x-2 top-[2px];
        .ellipsis {
            @apply rounded-sm relative top-0 px-1.5;
        }
        .paginate_button {
            @apply first:mr-0;
        }
    }
}

.footer-app-title {
    @apply uppercase text-xs text-appPrimary-500 font-semibold;
}
.footer-app-content {
    @apply font-Opensans text-white;
}

.buttons-container {
    @apply flex items-center mb-2 pb-2;
    // display: -webkit-box;
    // display: -moz-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // align-items: center;
    // margin-bottom: 10px;
    // padding-bottom: 10px;
    // border-bottom: 1px solid #eee;;
}

.buttons-container {
    @apply p-2 m-0;
    span {
        @apply font-Opensans text-sm font-bold capitalize;
    }
}

.week .day.header {
    @apply text-sm font-Opensans font-bold capitalize;
}

.buttons-container .label-container {
    display: inline-block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.year-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    padding: 5px 20px;
}

.prev-button,
.next-button {
    background: transparent;
    border: none;
    padding: 10px;
}

.week.highlight {
    border-radius: 5px;
}

.day {
    @apply p-2 flex justify-center items-center;
}
.day span {
    @apply text-xs rounded-full flex justify-center items-center h-7 w-7;
}

.day.today span {
    @apply font-extrabold text-appPrimary-900;
}

/* weekend */
.week:not(.start-on-monday) .day:first-child,
.week:not(.start-on-monday) .day:last-child {
    color: orange;
}

/* sunday */
.week:not(.start-on-monday) .day:first-child {
    color: red;
}

/* start on monday - weekend */
.week.start-on-monday .day:nth-child(6),
.week.start-on-monday .day:last-child {
    color: orange;
}

/* start on monday - sunday */
.week.start-on-monday .day:last-child {
    color: red;
}

// .day.today span::after {
//     content: "";
//     position: absolute;
//     bottom: 7px;
//     left: 50%;
//     transform: translateX(-50%);
//     border-bottom: 2px solid orange;
//     width: 10px;
//     height: 1px;
// }

.day.sunday span {
    color: #ff8a80;
}

.week .day.highlight span {
    color: #2196f3;
}

.week .day.selected span {
    background: #1565c0;
    color: white;
}

.week .day[disabled="disabled"] span {
    color: #aaa;
    cursor: not-allowed;
}

.months-wrapper .month span {
    @apply text-xs py-2 px-1 uppercase font-Opensans font-bold;
    // display: inline-block;
    // text-transform: capitalize;
    // margin-bottom: 10px;
}

.special-buttons {
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.today-button {
    @apply text-xs py-2 px-1 uppercase font-Opensans font-bold text-appPrimary-500;
}

.select2-container .select2-selection--single {
    @apply bg-font-100 w-full py-3 px-3 rounded-sm font-Opensans text-xs;
}

.select2-container--default .select2-results > .select2-results__options {
    @apply bg-font-100 w-full rounded-sm font-Opensans text-xs;
}

.navbar-container {
    @apply container mx-auto fixed top-0 right-0 left-0 z-30;

    @screen md {
        @apply bg-transparent;
    }

    .navbar-box {
        @apply top-0 grid grid-cols-2 gap-3 bg-font-900 py-4 px-4 mt-2 rounded-md relative overflow-y-hidden items-center;

        @screen md {
            @apply flex justify-between items-center px-16 space-x-6 rounded-[20px] mt-6;
        }

        .nav-menu-box {
            @apply flex-1 col-span-2 gap-10 overflow-y-hidden items-end transition duration-700 mt-5;
            @screen md {
                @apply relative items-center space-x-10 p-0 justify-end mt-0;
            }

            ul {
                @apply flex flex-1 justify-end flex-col space-y-3;
                @screen md {
                    @apply flex-row  space-x-7 space-y-0;
                }
            }
        }
        #burger-menu {
            @apply grid m-0 p-0 gap-1 md:hidden;

            label {
                display: flex;
                flex-direction: column;
                width: 28px;
                cursor: pointer;

                span {
                    @apply bg-appPrimary-500 rounded-full h-1 my-0.5;
                    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
                }
                span:nth-of-type(1) {
                    width: 50%;
                }

                span:nth-of-type(2) {
                    width: 100%;
                }

                span:nth-of-type(3) {
                    width: 75%;
                }
                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked ~ span:nth-of-type(1) {
                    transform-origin: bottom;
                    transform: rotatez(45deg) translate(3px, 0px);
                }

                input[type="checkbox"]:checked ~ span:nth-of-type(2) {
                    transform-origin: top;
                    transform: rotatez(-45deg);
                }

                input[type="checkbox"]:checked ~ span:nth-of-type(3) {
                    transform-origin: bottom;
                    width: 50%;
                    transform: translate(12px, -4px) rotatez(45deg);
                }
            }
        }
    }
}
